*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.home-menu {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./images/Hololive.full.3422816.jpg');
    height: 700px;
    background-size: cover;
}

.max-width .logo img{
    padding: 20px;
    width: 70%;
    margin-left: 10px;
}

.home-menu nav .max-width {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.max-width .menu {
    width: 800px;
    line-height: 80px;
    list-style: none;
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}

nav .menu a {
    display: inline-block;
    padding: 0px 30px;
    color: #fff;
    font-size: 20px;
    letter-spacing: -.5px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-menu {
    height: 200px;
    padding: 40px;
    margin-top: 8%;
    color: #fff;
    display: flex;
    justify-content: center;
}

.content-menu .text p {
    margin-top: 10px;
    font-size: 50px;
    font-weight: 150;
    line-height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}