*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: black;
}

.home-menu nav .max-width {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 10px 20px;
    margin-top: 10px;

}

ul, li {
    list-style-type:none;
}

.home-menu {
    padding-top: 2px;
    background-color: #ffffff;
    position: sticky;
    z-index: 1;
    top: 0;
}

.home-menu nav {
    height: 80px;
}

.home-menu nav .menu a {
    margin-left: -15px;
    display: inline-block;
    padding: 10px 20px;
    color: #49c8f0;
    font-size: 20px;
    letter-spacing: -.5px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-menu nav .input-bar {
    margin-top: 10px;
    padding: 0px 20px;
}
#search-input {
    background: none;
    vertical-align: middle;

    padding:7px 10px;
    width: 200px;
    border: 1px solid #49c8f0;
    border-radius: 4px;
}

.home-menu nav .user {
    max-width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
nav .user a {
    margin-inline-start: 20px;
    color: #49c8f0;
    margin-block-end: 20px;
}

#blackline {
    height: 1.5px;
    background-color: #49c8f0;
}


.title {
    margin-top: 50px;
    margin-bottom: 30px;
}

/* h2{
    display: flex;
    flex-direction: row;

    font-weight: 500;
    font-size: 30px;
    color: #49c8f0;
}

h2::before, h2::after {
    content: "";
    flex: 1 1;
    border-bottom: 5px solid;
    margin: auto;
    color: #5bd9ff;
}

h2::before {
    margin-right: 30px;
}
h2::after {
    margin-left: 30px;
} */

/* goods */
.wrapper {
    margin-left: 100px;
    display: flex;   
}

/* filter */

.filter {
    margin: 20px;
    margin-right: 80px;
}

.filter_main {
    padding: 0 0 20px;
    margin-bottom: 16px;
    line-height: 20px;
    border-bottom: 1px solid #1c1b1b;
    position: relative;
}

.checkbox {
    position: relative;
    width: auto;

    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    line-height: 1.5;
    text-align: left;
    width: 100%;
    transition: all .2s ease-in-out;

    
    font-size: 17px;
}

.checkbox label {
    width: 200px;
    cursor: pointer;
}
.checkbox input {
    cursor: pointer;
}

.final-box {
    margin-bottom: 35px;
}


/* list */
.items-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.items {
    max-width: 230px;
    margin: 20px;
}

.items-image {
    max-width: 230px;
    max-height: 230px;
}

.items-name {
    width: 77%;
    margin-top: 10px;
}

.view-all {
    margin-top: 50px;
    text-align: end;
}

.goods {
    display: flex;
    flex-wrap: wrap;
}