*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: black;
}

.home-menu nav .max-width {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 10px 20px;
    margin-top: 10px;

}

ul, li {
    list-style-type:none;
}

.home-menu {
    padding-top: 2px;
    background-color: #ffffff;
    position: sticky;
    z-index: 1;
    top: 0;
}

.home-menu nav {
    height: 80px;
}

.home-menu nav .menu a {
    margin-left: -15px;
    display: inline-block;
    padding: 10px 20px;
    color: #49c8f0;
    font-size: 20px;
    letter-spacing: -.5px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-menu nav .input-bar {
    margin-top: 10px;
    padding: 0px 20px;
}
#search-input {
    background: none;
    vertical-align: middle;

    padding:7px 10px;
    width: 200px;
    border: 1px solid #49c8f0;
    border-radius: 4px;
}

.home-menu nav .user {
    max-width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
nav .user a {
    margin-inline-start: 20px;
    color: #49c8f0;
    margin-block-end: 20px;
}

#blackline {
    height: 1.5px;
    background-color: #49c8f0;
}

/* product image */
.product {
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.product-images {
    width: 45%;
}

.mySlides {
    border: 1px solid #49c8f0;
    width: 600px;
    margin-bottom: 20px;
}

.image-switch {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.image-switch img {
    border: 1px solid #49c8f0;
    cursor: pointer;
    flex-wrap: wrap;
}

.image-button {
    width: 100px;
}


/* product info */
#container {
    position: relative;
    z-index: 0;
}

.product-info {
    width: 35%;
}

.product-info .title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.product-info .bar {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2px;
    background-color: #40b9dd;
}

.product-info p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.product-info .set {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #49c8f0;
}


.options {
    border: 2px solid black;
    cursor: pointer;
    display: inline-block;
    padding: 0.3rem 1rem;
    margin-top: 7px;
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: 6px;
    padding: 4px 8px;
    transition: all .2s;
    display: block;
}

.set-name {
    margin: 7px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 17px;
}
.set-info {
    margin: 6px;

    display: flex;
    justify-content: space-between;
}

.set-price {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: grey;
}

.yellow-cautions {
    display: flex;
    width: 130px;
    justify-content: space-between;
}

.stock {
    background: #ecc408;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 12px;
}

.buy-all {
    background: #ecc408;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 12px;
}


.selected-option {
    border: 2px solid #00c1fc;
    background-color: #c7f2ff;
    cursor: pointer;
    display: inline-block;
    padding: 0.3rem 1rem;
    margin-top: 7px;
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: 6px;
    padding: 4px 8px;
    transition: all .2s;
    display: block;
}

.selected-option .set-name {
    margin: 7px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 17px;
}
.selected-option .set-price {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: rgb(255, 80, 109);
}

/* quantity */
.quantity {
    margin-top: 8px;
    display: inline-flex;
    width: 40%;    
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

input:focus {
    outline: none;
}

.quantity-button {
    width: 60px;
    height: 35px;
    font-size: 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;

    cursor: pointer;
    text-align: center;
}

#quantity-input {
    width: 120px;
    height: 35px;

    border: none;
    text-align: center;
}

.buy button {
    margin: 25px 38px 0;
    width: 400px;
    height: 60px;
    
    display: inline-block;
    background: rgb(255, 80, 109); 
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px;
    border-radius: 35px;
    cursor: pointer;
    border: none;

    transition-duration: 0.4s;
    border: 1px solid rgb(255, 80, 109);
}

button:hover {
    background-color: #ffffff;
    color: rgb(255, 80, 109);
    border: 1px solid rgb(255, 80, 109);
}

/* cart */

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
  
.modal-content {
    margin: 0 auto;
    width: 35%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
  
.modal-body {
    padding: 1rem;
}
  
.modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
}
  
.modal-footer>:not(:first-child) {
    margin-left: .25rem;
}
    
.btn-primary {
    outline: none;

    font-size: 15px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    transition: all .2s ease-in-out;
    cursor: pointer;
    height: 60px;
    width: 300px;
    color: #fff;
    background-color: #40b9dd;
    border-radius: 8px;

}

.btn-primary:hover {
    color: #40b9dd;
    background-color: #ffffff;
    border-color: #40b9dd;
}
  
.modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
}
  
h5.modal-title {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.cart-item {
    margin: 35px;
    display: flex;
    justify-content: space-between;
}

.cart-item-name {
    font-size: 15px;
}
.cart-item-option {
    font-size: 13px;
}
.cart-price {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
}
.cart-quantity {
    display: flex;
    justify-content: space-between;
}

.cart-quantity .quantity {
    border: 0.5px solid black;
    border-radius: 5px;
    width: 80px;
    height: 35px;
}
.cart-quantity .quantity .quantity-button {
    border: none;
}

.btn-danger {
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
}

